USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"

# API Keys
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
TAVILY_API_KEY=""

# Langchain
LANGCHAIN_API_KEY=""
LANGCHAIN_ENDPOINT=""
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT="web-voyager"